<div class="col-md-3 flex-column align-middle bg-grey" id="sidebar">

    <img src="../images/jibanananda.jpg" id="logo">
    <div class="margin-10 flex-column txt-center">
        <hr>
        <a href="{{site.url}}/book/ebooks/jibanananda-dasher-kobita-somogro.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> পিডিএফ</a> |
        <a href="{{site.url}}/book/ebooks/jibanananda-dasher-kobita-somogro.epub"><i class="fa fa-book" aria-hidden="true"></i> ইপাব</a> |
        <a href="{{site.url}}/book/ebooks/jibanananda-dasher-kobita-somogro.mobi"><i class="fa fa-book" aria-hidden="true"></i> মোবি</a>
        <hr>
        <a href="https://poetry.jibanananda.org"><i class="fa fa-file-text" aria-hidden="true"></i> পড়ুন</a><br>
        <hr>
        <a href="{{site.url}}">মূল পাতা</a> | <a href="gratitude.html">কৃতজ্ঞতা</a>
        <hr>

    </div>
    <div class="flex-row space-between padding-left-right-20 padding-top-bottom-10" id="social-links">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}" class="fb" role="button" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/home?status={{ site.url }}" class="twt" role="button" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="http://www.tumblr.com/share/link?url={{ site.url }}" class="tmblr" role="button" target="_blank"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
        <a href="https://gitlab.com/jibanananda" class="git" role="button" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
        <a href="feed.xml" class="rss" role="button" target="_blank"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
        <hr>
    </div>

    <div class="col-md-12 txt-center flex-column auto-basis padding-left-right-20 padding-top-bottom-10">
        <p style="line-height: 1em;"><small>এই বইয়ের সকল কন্টেন্ট পাবলিক ডোমেইনভুক্ত<br>
                <hr style="width: 100px;" />
                সমস্তকিছু <a href="https://gitlab.com/jibanananda/" target="_blank">গিটল্যাবে</a> পাওয়া যাবে<br>
                <hr style="width: 100px;" />
                <a href="https://jekyllrb.com/" target="_blank">জেকিল</a> প্লাটফর্মে তৈরি<br>
                <hr style="width: 100px;" />
                থিম <strong>ধূসর পাণ্ডুলিপি</strong> উৎসর্গ রায় কর্তৃক নির্মিত
            </small></p>

    </div>
</div>
